<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.java1024.dao.%Mapper">
  <resultMap id="BaseResultMap" type="xyz.java1024.vo.%">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.java1024.vo.%">
    insert into product_category (id, name, image, 
      describe, status, created_at
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{describe,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.java1024.vo.%">
    update product_category
    set name = #{name,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, name, image, describe, status, created_at
    from product_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, image, describe, status, created_at
    from product_category
  </select>
  <resultMap id="BaseResultMap" type="xyz.java1024.vo.%">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="tel" jdbcType="VARCHAR" property="tel" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="wx_open_id" jdbcType="VARCHAR" property="wxOpenId" />
    <result column="wx_nickname" jdbcType="VARCHAR" property="wxNickname" />
    <result column="wx_sex" jdbcType="TINYINT" property="wxSex" />
    <result column="wx_image" jdbcType="VARCHAR" property="wxImage" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user1
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.java1024.vo.%">
    insert into user1 (id, username, tel,
      password, wx_open_id, wx_nickname, 
      wx_sex, wx_image, remark, 
      status, created_at)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{wxOpenId,jdbcType=VARCHAR}, #{wxNickname,jdbcType=VARCHAR}, 
      #{wxSex,jdbcType=TINYINT}, #{wxImage,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.java1024.vo.%">
    update user1
    set username = #{username,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      wx_open_id = #{wxOpenId,jdbcType=VARCHAR},
      wx_nickname = #{wxNickname,jdbcType=VARCHAR},
      wx_sex = #{wxSex,jdbcType=TINYINT},
      wx_image = #{wxImage,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, username, tel, password, wx_open_id, wx_nickname, wx_sex, wx_image, remark, 
    status, created_at
    from user1
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, username, tel, password, wx_open_id, wx_nickname, wx_sex, wx_image, remark, 
    status, created_at
    from user1
  </select>
  <resultMap id="BaseResultMap" type="xyz.java1024.vo.%">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_comment_reply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.java1024.vo.%">
    insert into product_comment_reply (id, user_id, product_id, 
      content, is_delete, created_at
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.java1024.vo.%">
    update product_comment_reply
    set user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, product_id, content, is_delete, created_at
    from product_comment_reply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, product_id, content, is_delete, created_at
    from product_comment_reply
  </select>
  <resultMap id="BaseResultMap" type="xyz.java1024.vo.%">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.java1024.vo.%">
    insert into sys_config (id, key, value, 
      is_delete, created_at)
    values (#{id,jdbcType=INTEGER}, #{key,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{isDelete,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.java1024.vo.%">
    update sys_config
    set key = #{key,jdbcType=VARCHAR},
      value = #{value,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, key, value, is_delete, created_at
    from sys_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, key, value, is_delete, created_at
    from sys_config
  </select>
  <resultMap id="BaseResultMap" type="xyz.java1024.vo.%">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product_comment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.java1024.vo.%">
    insert into product_comment (id, user_id, product_id, 
      content, is_delete, created_at
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{isDelete,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.java1024.vo.%">
    update product_comment
    set user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, product_id, content, is_delete, created_at
    from product_comment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, product_id, content, is_delete, created_at
    from product_comment
  </select>
  <resultMap id="BaseResultMap" type="xyz.java1024.vo.%">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="link_tel" jdbcType="VARCHAR" property="linkTel" />
    <result column="wx_num" jdbcType="VARCHAR" property="wxNum" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="ext_info" jdbcType="VARCHAR" property="extInfo" />
    <result column="product_category_id" jdbcType="INTEGER" property="productCategoryId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="created_at" jdbcType="TIMESTAMP" property="createdAt" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="xyz.java1024.vo.%">
    insert into product (id, user_id, link_tel, 
      wx_num, name, title, 
      desc, image, ext_info, 
      product_category_id, status, created_at
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{linkTel,jdbcType=VARCHAR}, 
      #{wxNum,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{extInfo,jdbcType=VARCHAR}, 
      #{productCategoryId,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}, #{createdAt,jdbcType=TIMESTAMP}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="xyz.java1024.vo.%">
    update product
    set user_id = #{userId,jdbcType=INTEGER},
      link_tel = #{linkTel,jdbcType=VARCHAR},
      wx_num = #{wxNum,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      ext_info = #{extInfo,jdbcType=VARCHAR},
      product_category_id = #{productCategoryId,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT},
      created_at = #{createdAt,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select id, user_id, link_tel, wx_num, name, title, desc, image, ext_info, product_category_id, 
    status, created_at
    from product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, user_id, link_tel, wx_num, name, title, desc, image, ext_info, product_category_id, 
    status, created_at
    from product
  </select>
</mapper>