<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dabby.addresslibrary.db.dao.AreaDoorRoomMapper">
  <resultMap id="BaseResultMap" type="cn.dabby.addresslibrary.db.entity.AreaDoorRoom">
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
    <result column="version" jdbcType="TINYINT" property="version" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="address_status" jdbcType="TINYINT" property="addressStatus" />
    <result column="build_area" jdbcType="REAL" property="buildArea" />
    <result column="building_inner_code" jdbcType="VARCHAR" property="buildingInnerCode" />
    <result column="check_channel" jdbcType="VARCHAR" property="checkChannel" />
    <result column="check_status" jdbcType="TINYINT" property="checkStatus" />
    <result column="check_time" jdbcType="TIMESTAMP" property="checkTime" />
    <result column="data_id" jdbcType="VARCHAR" property="dataId" />
    <result column="doorplate_address" jdbcType="VARCHAR" property="doorplateAddress" />
    <result column="doorplate_number" jdbcType="VARCHAR" property="doorplateNumber" />
    <result column="grid_code" jdbcType="VARCHAR" property="gridCode" />
    <result column="grid_name" jdbcType="VARCHAR" property="gridName" />
    <result column="gzx" jdbcType="DECIMAL" property="gzx" />
    <result column="gzy" jdbcType="DECIMAL" property="gzy" />
    <result column="house_property" jdbcType="INTEGER" property="houseProperty" />
    <result column="is_remove" jdbcType="TINYINT" property="isRemove" />
    <result column="real_use_way" jdbcType="TINYINT" property="realUseWay" />
    <result column="register_num" jdbcType="VARCHAR" property="registerNum" />
    <result column="rental_housing" jdbcType="VARCHAR" property="rentalHousing" />
    <result column="resident_num" jdbcType="VARCHAR" property="residentNum" />
    <result column="road_name" jdbcType="VARCHAR" property="roadName" />
    <result column="room_no" jdbcType="VARCHAR" property="roomNo" />
    <result column="use_way" jdbcType="VARCHAR" property="useWay" />
    <result column="is_hc" jdbcType="VARCHAR" property="isHc" />
  </resultMap>
  <insert id="insert" parameterType="cn.dabby.addresslibrary.db.entity.AreaDoorRoom">
    insert into tb_area_door_room (id, create_date, modify_date, 
      version, address, address_status, 
      build_area, building_inner_code, check_channel, 
      check_status, check_time, data_id, 
      doorplate_address, doorplate_number, grid_code, 
      grid_name, gzx, gzy, 
      house_property, is_remove, real_use_way, 
      register_num, rental_housing, resident_num, 
      road_name, room_no, use_way, 
      is_hc)
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifyDate,jdbcType=TIMESTAMP}, 
      #{version,jdbcType=TINYINT}, #{address,jdbcType=VARCHAR}, #{addressStatus,jdbcType=TINYINT}, 
      #{buildArea,jdbcType=REAL}, #{buildingInnerCode,jdbcType=VARCHAR}, #{checkChannel,jdbcType=VARCHAR}, 
      #{checkStatus,jdbcType=TINYINT}, #{checkTime,jdbcType=TIMESTAMP}, #{dataId,jdbcType=VARCHAR}, 
      #{doorplateAddress,jdbcType=VARCHAR}, #{doorplateNumber,jdbcType=VARCHAR}, #{gridCode,jdbcType=VARCHAR}, 
      #{gridName,jdbcType=VARCHAR}, #{gzx,jdbcType=DECIMAL}, #{gzy,jdbcType=DECIMAL}, 
      #{houseProperty,jdbcType=INTEGER}, #{isRemove,jdbcType=TINYINT}, #{realUseWay,jdbcType=TINYINT}, 
      #{registerNum,jdbcType=VARCHAR}, #{rentalHousing,jdbcType=VARCHAR}, #{residentNum,jdbcType=VARCHAR}, 
      #{roadName,jdbcType=VARCHAR}, #{roomNo,jdbcType=VARCHAR}, #{useWay,jdbcType=VARCHAR}, 
      #{isHc,jdbcType=VARCHAR})
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, create_date, modify_date, version, address, address_status, build_area, 
    building_inner_code, check_channel, check_status, check_time, data_id, doorplate_address, 
    doorplate_number, grid_code, grid_name, gzx, gzy, house_property, is_remove, real_use_way, 
    register_num, rental_housing, resident_num, road_name, room_no, use_way, is_hc
    from tb_area_door_room
  </select>
</mapper>